/* Layout */

body {
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);

}

.intro {
    background-image: url(background.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    vertical-align: auto;
}

/* Positioning */
.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.justify {
    text-align: justify;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

/* Grid */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    width: 96%;
}

.col-1-sm {
    width: 4.33%;
}

.col-2-sm {
    width: 12.66%;
}

.col-3-sm {
    width: 21%;
}

.col-4-sm {
    width: 29.33%;
}

.col-5-sm {
    width: 37.66%;
}

.col-6-sm {
    width: 46%;
}

.col-7-sm {
    width: 54.33%;
}

.col-8-sm {
    width: 62.66%;
}

.col-9-sm {
    width: 71%;
}

.col-10-sm {
    width: 79.33%;
}

.col-11-sm {
    width: 87.66%;
}

.col-12-sm {
    width: 96%;
}

.row {
    position: relative;
    min-width: 100%;
    vertical-align: auto;
}

.row [class^="col"] {
    float: left;
    margin: 0.125rem;
    min-height: 0.125rem;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.hidden-sm {
    display: none;
}

/* Objects */

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid black;
    margin-bottom: 2em;
}

table {
    width: 100%;
}

.box {
    border: 5px solid;
    border-radius: 1em;
    padding: 2em;
    margin: 2em;
}

.box2 {
    border: none;
    padding: 0.5em;
    margin: 0.5em;
    text-align: left;
}


@media only screen and (min-width: 33.75em) {
    .container {
        width: 100%;
    }

    .container2 {
        width: 80%;
    }
}

@media only screen and (min-width: 45em) {

    /* 720px */
    .col-1 {
        width: 4.33%;
    }

    .col-2 {
        width: 12.66%;
    }

    .col-3 {
        width: 21%;
    }

    .col-4 {
        width: 29.33%;
    }

    .col-5 {
        width: 37.66%;
    }

    .col-6 {
        width: 46%;
    }

    .col-7 {
        width: 54.33%;
    }

    .col-8 {
        width: 62.66%;
    }

    .col-9 {
        width: 71%;
    }

    .col-10 {
        width: 79.33%;
    }

    .col-11 {
        width: 87.66%;
    }

    .col-12 {
        width: 96%;
    }

    .container2 {
        display: flex;
    }
}

@media only screen and (min-width: 60em) {

    /* 960px */
    .container2 {
        display: flex;
        width: 100%;
    }
}


.quality {
    background-color: gold;
}

.ops {
    background-color: goldenrod;
}

.systems {
    background-color: yellow;
}